@font-face{
    font-family: 'PTSansRegular';
    src: url('../fonts/ptsans_regular/PTS55F-webfont.eot');
    src: url('../fonts/ptsans_regular/PTS55F-webfont.eot?iefix') format('eot'),
    url('../fonts/ptsans_regular/PTS55F-webfont.woff') format('woff'),
    url('../fonts/ptsans_regular/PTS55F-webfont.ttf') format('truetype'),
    url('../fonts/ptsans_regular/PTS55F-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'PTSansBold';
    src: url('../fonts/ptsans_bold/PTS75F-webfont.eot');
    src: url('../fonts/ptsans_bold/PTS75F-webfont.eot?iefix') format('eot'),
    url('../fonts/ptsans_bold/PTS75F-webfont.woff') format('woff'),
    url('../fonts/ptsans_bold/PTS75F-webfont.ttf') format('truetype'),
    url('../fonts/ptsans_bold/PTS75F-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    width: 100%;
    height: 1440px;
    background: url("../images/bg.png");
}
header{
    width: 100%;
    height: 55px;
    background: url("../images/bg.png");
}
footer{
    height: 140px;
    width: 100%;
    background: url("../images/bg.png");
}

#container{
    height: 1245px;
    max-width: 980px;
    margin: auto;
    background: #ffffff;
    /* Old Browsers */background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 90%, #f8f8f8 93%, #ffffff 100%);
    /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #fbfbfb), color-stop(8%, #fdfdfd), color-stop(17%, #f1f1f1), color-stop(90%, #f1f1f1), color-stop(93%, #f8f8f8), color-stop(100%, #ffffff));
    /* Chrome, Safari4+ */background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 90%, #f8f8f8 93%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 90%, #f8f8f8 93%, #ffffff 100%);
    /* Opera 11.10+ */background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 90%, #f8f8f8 93%, #ffffff 100%);
    /* IE 10+ */background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 90%, #f8f8f8 93%, #ffffff 100%);
    /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    /* IE6-9 */
}

.header-button{
    max-width: 980px;
    margin: auto;
    padding-bottom: 18px;
    padding-top: 18px;
}
.header-button div{
    display: inline-block;
    vertical-align: bottom;
}
.list-name-students{
    font-size: 16px;
    font-family: 'PTSansRegular', Arial, sans-serif;
}
.header-button div.list-name-students,
.header-button ul#menu,
.header-button div.btn-print{
    margin-left: 30px;
    margin-right: 30px;
}
@media print {
    .btn-print button{
        visibility: hidden;
    }
    .student-block-info{
        width: 450px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .subject-name{
        width:auto;
    }
    .student-block-info hr {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .list-students {
        width: 200px;
        height: 880px;
        float: left;
        overflow: hidden;
        display: inline-block;
    }
}
.btn-print{
    float: right;
}
.btn-print button{
    width: 120px;
    height: 26px;
    float: left;
    cursor: pointer;
    border:1px solid #e1e1e1; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:10px;font-family:'PTSansRegular', Arial, sans-serif; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3); color: #000000;
    background-color: #FDFDFD; background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#E1E1E1));
    background-image: -webkit-linear-gradient(top, #FDFDFD, #E1E1E1);
    background-image: -moz-linear-gradient(top, #FDFDFD, #E1E1E1);
    background-image: -ms-linear-gradient(top, #FDFDFD, #E1E1E1);
    background-image: -o-linear-gradient(top, #FDFDFD, #E1E1E1);
    background-image: linear-gradient(to bottom, #FDFDFD, #E1E1E1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDFDFD, endColorstr=#E1E1E1);
}
.btn-print button img{
    width: 10px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}
.btn-print button span{
    float: left;
}

/*Block submenu*/
ul#menu{
    display: inline-block;
    top:0;
    width:100px;
    height: 20px;
    margin:0;
    padding:0 10px;
}
ul#menu > li{
    list-style-type:none;
    position:relative;
}
.header-button label{
    position:relative;
    display:block;
    padding:0 18px 0 12px;
    height: 20px;
    vertical-align: bottom;
    font-size: 16px;
    font-family: 'PTSansRegular', Arial, sans-serif;
    cursor:pointer;
}
.header-button label:after{
    content:"";
    position:absolute;
    display:block;
    top:50%;
    right:5px;
    width:0;
    height:0;
    border-top:4px solid rgb(128, 128, 128);
    border-bottom:0 solid rgba(128, 128, 128, 0.5);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transition:border-bottom .1s, border-top .1s .1s;
}
input:checked ~ label:after{
    border-top:0 solid rgba(128, 128, 128, 0.5);
    border-bottom:4px solid rgba(128, 128, 128, 0.5);
    transition:border-top .1s, border-bottom .1s .1s;
}
.header-button input{
    display:none
}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
    max-height:300px;
    transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
    max-height:0;
    padding:0;
    overflow:hidden;
    width: 360px;
    height: 320px;
    position:absolute;
    min-width:100%;
}
ul.submenu li{
    border: 1px solid #808080;
    border-radius: 5px;
}

ul.submenu .submenu-name-company{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 16px;
    width: 100%;
    margin: 0;
    background-color: #d9d9d9;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-family: 'PTSansRegular', Arial, sans-serif;
}
ul.submenu .submenu-pay-company{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: 53px;
    padding-left: 20px;
    background-color: #ffecb6;
    font-family: 'PTSansBold', Arial, sans-serif;
    font-size: 14px;
}
.submenu-pay-company .submenu-info-pay{
    width: 70%;
    display: inline-block;
}
.btn-pay-company{
    width: 85px;
    height: 32px;
    border:1px solid #FF9705; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 0px 0px 0px 0px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3); color: #000000;
    background-color: #FFD003; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD003), to(#FF9705));
    background-image: -webkit-linear-gradient(top, #FFD003, #FF9705);
    background-image: -moz-linear-gradient(top, #FFD003, #FF9705);
    background-image: -ms-linear-gradient(top, #FFD003, #FF9705);
    background-image: -o-linear-gradient(top, #FFD003, #FF9705);
    background-image: linear-gradient(to bottom, #FFD003, #FF9705);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD003, endColorstr=#FF9705);
}
.submenu-other-company{
    background-color: #ffffff;
    width: 100%;
}
.submenu-other-company a{
    padding-left: 20px;
    text-decoration: none;
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 12px;
    color: #000000
}
.submenu-other-company div{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.submenu-other-company div:hover{
    background-color: #e4f3ff;
}
.submenu-other-company p{
    padding-left: 20px;
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 10px;
    color: #808080;
    margin-top: 5px;
    margin-bottom: 5px;
}
.management-companies{
    padding-bottom: 10px;
    width: 100%;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.management-companies a{
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 12px;
    color: #3072c4;
    text-decoration: none;
    text-overflow: clip;
    padding-left: 20px;
}

.blue-line{
    width: auto;
    height: 10px;
    background-color: #007dcd;
}
.head-content{
    width: auto;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
.head-content a,
.head-content a :hover{
    color: #007dcd;
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 14px;
}
.head-content .student-name{
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 24px;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    margin: 0;
}
.head-content img{
    width: 12px;
    padding: 2px;
    vertical-align: text-bottom;
}
.body-content{
    width: auto;
    height: 1090px;
}
.footer-content{
    width: auto;
    height: 55px;
}

/*  body-content, list-students  */

.list-students{
    width: 200px;
    height: 100%;
    float: left;
    overflow: hidden;
    display: inline-block;
}
.block-add-student{
    height: 120px;
    margin-top: 22px;
}
.btn-add-student{
    width: 172px; height: 33px; margin-left: 20px; margin-top: 5px; margin-bottom: 5px; cursor: pointer;
    border:1px solid #e1e1e1; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:'PTSansRegular', Arial, sans-serif; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3); color: #000000;
    background-color: #FDFDFD; background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#E1E1E1));
    background-image: -webkit-linear-gradient(top, #FDFDFD, #E1E1E1);
    background-image: -moz-linear-gradient(top, #FDFDFD, #E1E1E1);
    background-image: -ms-linear-gradient(top, #FDFDFD, #E1E1E1);
    background-image: -o-linear-gradient(top, #FDFDFD, #E1E1E1);
    background-image: linear-gradient(to bottom, #FDFDFD, #E1E1E1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDFDFD, endColorstr=#E1E1E1);
}
.btn-add-student img,
.btn-save-change img{
    float: left;
    width: 12px;
    padding-top: 3px;
    padding-right: 2px;
}
.btn-add-student span,
.btn-save-change span{
    float: left;
    /*padding: 5px;*/
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 14px;
}
.btn-save-change{
    width: 172px; height: 33px; margin-left: 20px; margin-top: 5px; margin-bottom: 5px; cursor: pointer;
    border:1px solid #0080D1; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:'PTSansRegular', Arial, sans-serif; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(252,252,252,0.3); color: #FCFCFC;
    background-color: #009AFC; background-image: -webkit-gradient(linear, left top, left bottom, from(#009AFC), to(#0080D1));
    background-image: -webkit-linear-gradient(top, #009AFC, #0080D1);
    background-image: -moz-linear-gradient(top, #009AFC, #0080D1);
    background-image: -ms-linear-gradient(top, #009AFC, #0080D1);
    background-image: -o-linear-gradient(top, #009AFC, #0080D1);
    background-image: linear-gradient(to bottom, #009AFC, #0080D1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#009AFC, endColorstr=#0080D1);
}
.roster-name-students{
    margin-left: 20px;
    overflow: auto;
    height: 946px;
    width: 180px;
}
.name-one-student.active{
    height: 20px;
    font-family: 'PTSansBold', Arial, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
    position: inherit;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    -webkit-box-shadow: inset -90px 6px 15px 15px rgba(255,255,255,1);
    -moz-box-shadow: inset -90px 6px 15px 15px rgba(255,255,255,1);
    box-shadow: inset -90px 6px 15px 15px rgba(255,255,255,1);
}
.name-one-student.active a{
    text-decoration: none;
}
.roster-name-students > div{
    height: 20px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    color: #007dcd;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.roster-name-students > div:after{
    content: '';
    position: absolute;
    right: 0; top: 0;
    width: 50px;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(236, 236, 236, 0.4), #f1f1f1 50%);
    background: -webkit-linear-gradient(left, rgba(236, 236, 236, 0.4), #f1f1f1 50%);
    background: -o-linear-gradient(left, rgba(236, 236, 236, 0.4), #f1f1f1 50%);
    background: -ms-linear-gradient(left, rgba(236, 236, 236, 0.4), #f1f1f1 50%);
    background: linear-gradient(to right, rgba(236, 236, 236, 0.4), #f1f1f1 50%);
}
.roster-name-students > div a{
    color: #007dcd;
}


/*  body-content, student-block-info --personal-info-- */
.student-block-info{
    height: 1030px;
    display: inline-block;
    width: 690px;
    background-color: #ffffff;
    border-radius: 1px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 2px 1px 1px 2px rgba(0,0,0,0.02);
    -moz-box-shadow: 2px 1px 1px 2px rgba(0,0,0,0.02);
    box-shadow: 2px 1px 1px 2px rgba(0,0,0,0.02);
}
.personal-info{
    padding-bottom: 25px;
    padding-top: 25px;
}
.personal-info :first-child{
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 20px;
}
.personal-info :last-child{
    text-decoration: underline;
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 14px;
    color: #007dcd;
    float: right;
    display: inline-block;
}
form#added-person{
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 14px;
}
form#added-person p{
    display: inline-block;
    margin: 0;
    width: 127px;
}
div.left-blockform{
    display: inline-block;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}
div.left-blockform.d-img{
    background-color: #e2e2e2;
}
form#added-person > div{
    margin-top: 10px;
    margin-bottom: 10px;
}
form#added-person input[type="text"]{
    width: 280px;
    height: 22px;
}
form#added-person input.datepicker{
    width: 80px;
    border-radius: 1px 0px 1px 0px;
    -moz-border-radius: 1px 0px 1px 0px;
    -webkit-border-radius: 1px 0px 1px 0px;
}
form#added-person img.date-img{
    vertical-align: text-bottom;
    padding-right: 5px;
}
form#added-person input[name="surname"],
form#added-person input[name="username"],
form#added-person input[name="secondname"]{
    border-radius: 3px;
}
.error input{
    border: 1px solid red;
    background-color: #fff0f0;
}
.error {
    color: red;
}
.error p{
    color: black;
}
/*  body-content student-block-info --subject-info--  */
.student-block-info hr{
    border-color: #f2f2f2;
    opacity: 0.1;
    margin-top: 40px;
    margin-bottom: 40px;
}
.subject-name{
    display: inline-block;
    width: 225px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.line-svg{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.line-svg img{
    width: 100%;
}
.info-circle{
    width: 400px;
    margin: 0 auto;
}
.info-circle circle{
    cursor: pointer;
}
.chart-text {
    font: 16px/1em 'PTSansRegular', Arial, sans-serif;
    fill: #000;
    -moz-transform: translateY(0.01em);
    -ms-transform: translateY(0.01em);
    -webkit-transform: translateY(0.01em);
    transform: translateY(0.15em);
}
.missing-number{
    font-size: 0.28em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.025em);
    -ms-transform: translateY(-0.025em);
    -webkit-transform: translateY(-0.025em);
    transform: translateY(-0.25em);
}
.missing-number-nice{
    font-size: 0.2em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.025em);
    -ms-transform: translateY(-0.025em);
    -webkit-transform: translateY(-0.025em);
    transform: translateY(-0.25em);
}
.student-label{
    font-size: 0.15em;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
}
.missing-label {
    font-size: 0.12em;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
}
.points-circle{
    font-size: 0.13em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(0.025em);
    -ms-transform: translateY(0.025em);
    -webkit-transform: translateY(0.025em);
    transform: translateY(0.25em);
}
