@font-face{
    font-family: 'PTSansRegular';
    src: url('../fonts/ptsans_regular/PTS55F-webfont.eot');
    src: url('../fonts/ptsans_regular/PTS55F-webfont.eot?iefix') format('eot'),
    url('../fonts/ptsans_regular/PTS55F-webfont.woff') format('woff'),
    url('../fonts/ptsans_regular/PTS55F-webfont.ttf') format('truetype'),
    url('../fonts/ptsans_regular/PTS55F-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'PTSansBold';
    src: url('../fonts/ptsans_bold/PTS75F-webfont.eot');
    src: url('../fonts/ptsans_bold/PTS75F-webfont.eot?iefix') format('eot'),
    url('../fonts/ptsans_bold/PTS75F-webfont.woff') format('woff'),
    url('../fonts/ptsans_bold/PTS75F-webfont.ttf') format('truetype'),
    url('../fonts/ptsans_bold/PTS75F-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body{
    margin: 0;
    width: 100%;
    height: 1440px;
    background: url("../images/bg.png");
}
header{
    width: 100%;
    height: 55px;
    background: url("../images/bg.png");
}
footer{
    height: 140px;
    width: 100%;
    background: url("../images/bg.png");
}

#container{
    height: 1245px;
    margin-right: 20px;
    margin-left: 20px;
    background: #ffffff;
    /* Old Browsers */background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 95%, #f8f8f8 96%, #ffffff 100%);
    /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #fbfbfb), color-stop(8%, #fdfdfd), color-stop(17%, #f1f1f1), color-stop(95%, #f1f1f1), color-stop(96%, #f8f8f8), color-stop(100%, #ffffff));
    /* Chrome, Safari4+ */background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 95%, #f8f8f8 96%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 95%, #f8f8f8 96%, #ffffff 100%);
    /* Opera 11.10+ */background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 95%, #f8f8f8 96%, #ffffff 100%);
    /* IE 10+ */background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 0%, #fdfdfd 8%, #f1f1f1 17%, #f1f1f1 95%, #f8f8f8 96%, #ffffff 100%);
    /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    /* IE6-9 */

    /*background: #ffffff;*/
    /*!* Old Browsers *!background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 5%, #fefefe 6%, #fdfdfd 8%, #fcfcfc 10%, #fbfbfb 12%, #fafafa 14%, #f9f9f9 16%, #f8f8f8 18%, #f7f7f7 20%, #f6f6f6 22%, #f5f5f5 24%, #f4f4f4 26%, #f3f3f3 28%, #f2f2f2 30%, #f1f1f1 32%, #f1f1f1 68%, #f2f2f2 70%, #f3f3f3 72%, #f4f4f4 74%, #f5f5f5 76%, #f6f6f6 78%, #f7f7f7 80%, #f8f8f8 82%, #f9f9f9 84%, #fafafa 86%, #fbfbfb 88%, #fcfcfc 90%, #fdfdfd 92%, #fefefe 94%, #fefefe 95%, #ffffff 100%);*/
    /*!* FF3.6+ *!background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #fefefe), color-stop(6%, #fefefe), color-stop(8%, #fdfdfd), color-stop(10%, #fcfcfc), color-stop(12%, #fbfbfb), color-stop(14%, #fafafa), color-stop(16%, #f9f9f9), color-stop(18%, #f8f8f8), color-stop(20%, #f7f7f7), color-stop(22%, #f6f6f6), color-stop(24%, #f5f5f5), color-stop(26%, #f4f4f4), color-stop(28%, #f3f3f3), color-stop(30%, #f2f2f2), color-stop(32%, #f1f1f1), color-stop(68%, #f1f1f1), color-stop(70%, #f2f2f2), color-stop(72%, #f3f3f3), color-stop(74%, #f4f4f4), color-stop(76%, #f5f5f5), color-stop(78%, #f6f6f6), color-stop(80%, #f7f7f7), color-stop(82%, #f8f8f8), color-stop(84%, #f9f9f9), color-stop(86%, #fafafa), color-stop(88%, #fbfbfb), color-stop(90%, #fcfcfc), color-stop(92%, #fdfdfd), color-stop(94%, #fefefe), color-stop(95%, #fefefe), color-stop(100%, #ffffff));*/
    /*!* Chrome, Safari4+ *!background: -webkit-linear-gradient(top, #ffffff 0%, #fefefe 5%, #fefefe 6%, #fdfdfd 8%, #fcfcfc 10%, #fbfbfb 12%, #fafafa 14%, #f9f9f9 16%, #f8f8f8 18%, #f7f7f7 20%, #f6f6f6 22%, #f5f5f5 24%, #f4f4f4 26%, #f3f3f3 28%, #f2f2f2 30%, #f1f1f1 32%, #f1f1f1 68%, #f2f2f2 70%, #f3f3f3 72%, #f4f4f4 74%, #f5f5f5 76%, #f6f6f6 78%, #f7f7f7 80%, #f8f8f8 82%, #f9f9f9 84%, #fafafa 86%, #fbfbfb 88%, #fcfcfc 90%, #fdfdfd 92%, #fefefe 94%, #fefefe 95%, #ffffff 100%);*/
    /*!* Chrome10+,Safari5.1+ *!background: -o-linear-gradient(top, #ffffff 0%, #fefefe 5%, #fefefe 6%, #fdfdfd 8%, #fcfcfc 10%, #fbfbfb 12%, #fafafa 14%, #f9f9f9 16%, #f8f8f8 18%, #f7f7f7 20%, #f6f6f6 22%, #f5f5f5 24%, #f4f4f4 26%, #f3f3f3 28%, #f2f2f2 30%, #f1f1f1 32%, #f1f1f1 68%, #f2f2f2 70%, #f3f3f3 72%, #f4f4f4 74%, #f5f5f5 76%, #f6f6f6 78%, #f7f7f7 80%, #f8f8f8 82%, #f9f9f9 84%, #fafafa 86%, #fbfbfb 88%, #fcfcfc 90%, #fdfdfd 92%, #fefefe 94%, #fefefe 95%, #ffffff 100%);*/
    /*!* Opera 11.10+ *!background: -ms-linear-gradient(top, #ffffff 0%, #fefefe 5%, #fefefe 6%, #fdfdfd 8%, #fcfcfc 10%, #fbfbfb 12%, #fafafa 14%, #f9f9f9 16%, #f8f8f8 18%, #f7f7f7 20%, #f6f6f6 22%, #f5f5f5 24%, #f4f4f4 26%, #f3f3f3 28%, #f2f2f2 30%, #f1f1f1 32%, #f1f1f1 68%, #f2f2f2 70%, #f3f3f3 72%, #f4f4f4 74%, #f5f5f5 76%, #f6f6f6 78%, #f7f7f7 80%, #f8f8f8 82%, #f9f9f9 84%, #fafafa 86%, #fbfbfb 88%, #fcfcfc 90%, #fdfdfd 92%, #fefefe 94%, #fefefe 95%, #ffffff 100%);*/
    /*!* IE 10+ *!background: linear-gradient(to bottom, #ffffff 0%, #fefefe 5%, #fefefe 6%, #fdfdfd 8%, #fcfcfc 10%, #fbfbfb 12%, #fafafa 14%, #f9f9f9 16%, #f8f8f8 18%, #f7f7f7 20%, #f6f6f6 22%, #f5f5f5 24%, #f4f4f4 26%, #f3f3f3 28%, #f2f2f2 30%, #f1f1f1 32%, #f1f1f1 68%, #f2f2f2 70%, #f3f3f3 72%, #f4f4f4 74%, #f5f5f5 76%, #f6f6f6 78%, #f7f7f7 80%, #f8f8f8 82%, #f9f9f9 84%, #fafafa 86%, #fbfbfb 88%, #fcfcfc 90%, #fdfdfd 92%, #fefefe 94%, #fefefe 95%, #ffffff 100%);*/
    /*!* W3C *!filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );*/
    /*!* IE6-9 *!*/
}

